<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hogwarts</title>
</head>
<body>
<h1>Currently enrolled:</h1>
	<ul>
		<% for( var student in students){ %>

		<li><%= students[student].name  %> is <%= students[student].age %> years old.
			This student has an id of <a href="/student/<%= students[student].id %>">
			<%= students[student].id %></a>.
			<% if (students[student].house === ""){%>
				<form action="sort/<%= student %>">
				<button>Sort</button>
				</form>
			<% } else if (students[student].house === "<%= students[student].house %>") { %>
			They belong to house <%= students[student].house %>.
			<%	} %>
		</li>
		<%	} %>
		
	</ul>

	<h3>Enroll here!</h3>
	<form action="/student" method="post">
		<input type="text" name="name" placeholder="name" required>
		<input type="text" name="age" placeholder="age" required>
		<input type="text" name="faveSpell" placeholder="favorite spell" required>
		<button>ERECTO!</button>
	</form>
</body>
</html>