<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hogwarts</title>
</head>
<body>
	<ul>
		<% for( var student in students){ %>

		<li><%= students[student].name  %> is <%= students[student].age %> years old.
			This student has an id of <a href="/student/<%= students[student].id %>">
			<%= students[student].id %></a>.
		</li>
		<%	} %>
		
	</ul>

	<ul>
		<% for( student in students){ %>
		<li> 
			<%=student %>: <a href="/student/<%=student%>"><%=students[student].name%></a>, Age: <%= students[student].age%> . House: <%= students[student].house%>
			<% if (students[student].house === ""){%>
				<form method="post" action="/sort/<%=student%>"><button>Sort</button></form>
			<% } %>
		</li>
		<% } %>
	</ul>

	<h3>Enroll here!</h3>
	<form action="/student" method="post">
		<input type="text" name="name" placeholder="name" required>
		<input type="text" name="age" placeholder="age" required>
		<input type="text" name="faveSpell" placeholder="favorite spell" required>
		<button>ERECTO!</button>
	</form>
</body>
</html>